<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174410583131-eu5cfi0o0vp4vgtglreo2qm7ser2hf7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174410583131-eu5cfi0o0vp4vgtglreo2qm7ser2hf7g</string>
	<key>API_KEY</key>
	<string>AIzaSyAWiS4EKeW5VkmbIQsPabkBkyqOUqjFuF8</string>
	<key>GCM_SENDER_ID</key>
	<string>174410583131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ko.kaptureone</string>
	<key>PROJECT_ID</key>
	<string>keptureone-2563f</string>
	<key>STORAGE_BUCKET</key>
	<string>keptureone-2563f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174410583131:ios:2b6a2c700ca3dd34</string>
	<key>DATABASE_URL</key>
	<string>https://keptureone-2563f.firebaseio.com</string>
</dict>
</plist>